@import "../../styles/variables";

.search-modal {
  &__form {
    background-color: var(--bg-dark-gray);
    color: var(--primary-yellow);
  }
  &__submit-btn {
    display: block;
    width: 100%;
    margin: 1.3rem auto;
    padding: 0.6rem;
    border: none;
    border-radius: 5px;
    font-size: var(--step--1);
    background-color: var(--secondary-gray);
    color: var(--primary-white);
    transition: background-color 75ms ease-in-out;
    &:hover {
      background-color: var(--primary-blue);
    }
  }
}

.modal-backdrop.show {
  --bs-backdrop-bg: var(--bg-form-overlay);
  --bs-backdrop-opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(2px);
}

input[name="searchInput"] {
  font-size: var(--step--2);
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.4px;
}

input[name="searchInput"]:is(:focus, :focus-visible) {
  outline: 2px solid var(--primary-yellow);
  background-color: var(--secondary-gray);
  color: var(--primary-yellow);
  border: none;
  box-shadow: none;
}

.modal-body label {
  font-size: 0.8rem;
  font-size: var(--step--2);
}

.form-check-inline {
  margin-right: 0.3rem;
}
.form-label:not(:first-child) {
  margin-left: 0.8rem;
}

.modal-header .btn-close {
  opacity: 1;
}
