.loginForm-container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}
.loginForm-container.is-open {
  display: flex;
}

.loginForm-container.is-open > form {
  position: absolute;
  top: 25%;
}

.form-inner {
  background-color: #181818;
  letter-spacing: 0.06em;
  min-height: 23rem;
  width: 540px;
  padding: 1rem;
}

button.login-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  background-color: transparent;
  font-size: 2rem;
  color: #484848;
  transition: color 0.2s;
}

button.login-close:hover {
  color: white;
}

.log-in-title {
  color: #edd700;
  font-size: 1.5rem;
}

.form-group input {
  font-size: 12px;
  width: 90%;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.form-group > input:focus-visible {
  border: 2px solid #edd700;
  background-color: #484848;
  color: #edd700;
}
input[type="submit"] {
  display: block;
  width: 90%;
  margin: 1.3rem auto;
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  background-color: #484848;
  color: white;
  transition: background-color 0.5s;
}

input[type="submit"]:hover {
  background-color: #3f6dac;
}

div.sign-up-link {
  width: 90%;
  margin: 0 auto;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 5px;
  transition: border 350ms;
}

div.sign-up-link:hover {
  border: solid 1px #edd700;
}

.sign-up-link a {
  display: block;
  width: 100%;
  color: #edd700;
  text-decoration: none;
}

.signup-link-group p {
  font-size: 13px;
}
.signup-link-group a {
  font-size: 13px;
  color: #edd700;
  text-decoration: none;
}

.signup-link-group a:hover {
  text-decoration: underline;
}
