.section-nav {
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;

  &__container {
    display: flex;
    width: calc(min(90vw, 1100px));
    margin-inline: auto;
    padding-block: 0;
    padding-inline: 0.5rem;
    justify-content: center;
    text-align: center;

    @media (max-width: 576px) {
      & {
        width: 100%;
      }
    }
  }

  &__link {
    position: relative;
    font-size: 0.8em;
    font-weight: 800;
    color: #999;
    padding-block: 0.5rem;
    &:hover {
      color: white;
      cursor: pointer;
    }

    &--border-silver {
      border-right: 1px solid #333;
      border-left: 1px solid #333;
      margin: -1px 0 0 -1px;
    }
    &--light-saber {
      position: absolute;
      bottom: 10%;
      border-radius: 10px;
      left: calc(50% - 16px);
      width: 32px;
      height: 2px;
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 100px #03e9f4;
      background: white;
      margin: 0 auto;
    }
  }
}
