// @mixin login-form{
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background-color: rgba(255, 255, 255, 0.7);
//   backdrop-filter: blur(2px);
//   display: none;
//   align-items: center;
//   justify-content: center;

//   &.is-open {
//     display: flex;
//   }
// }