$primary-gray: rgb(181, 183, 183);
$secondary-gray: #48494a;
$gray-blue: #6f7380;
$primary-pink: #9e4f60;
$primary-white: #ffffff;
$light-saber: #03e9f4;
// $bg-dark-gray: #212529;
$bg-dark-gray: #1d1e1f;

:root {
  --primary-gray: #{$primary-gray};
  --secondary-gray: #{$secondary-gray};
  --gray-blue: #{$gray-blue};
  --primary-pink: #{$primary-pink};
  --primary-white: #{$primary-white};
  --light-saber: #{$light-saber};
  --box-shadow-pink: 231, 203, 209;
  --bg-dark-gray: #{$bg-dark-gray};
}