.list-of-items-wrapper {
  line-height: 1.5;
  overflow: hidden;

  @media (max-width: 576px) {
    margin-inline-end: 0.5rem;
  }
}

.view-more-btn {
  border: 1.5px solid var(--gray-blue);
  border-radius: 5px;
  padding: 0.4rem 0.2rem;
  cursor: pointer;
  width: 100px;
  font-size: var(--step--2);
  color: var(--gray-blue);
  background-color: transparent;
  position: sticky;
  bottom: 3%;
  z-index: 10;
  transition: color, border-color, 125ms ease-in-out;

  // dont display the button on larger screens to avoid user poor user experience
  @media (min-width: 576px) {
    display: none;
  }

  &:hover {
    color: var(--main-white);
    border-color: var(--main-white);
  }
}
