/* .container {
  max-width: 50%;
} */

.row {
  --bs-gutter-x: 0 !important;
}
div.spaceship-img-container {
  border-bottom: 3px solid #9e4f60;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4.ship-title:hover {
  color: rgba(255, 255, 255, 0.712);
  cursor: pointer;
}

.ship-description-container {
  background-color: #282727cc;
  border-radius: 0 0 9px 9px;
  color: #ddd;
  margin: 0 auto;
}

.movie-description-container {
  background-color: #282727cc;
  border-radius: 0 0 9px 9px;
  color: #ddd;
  height: 100%;
  border-left: 2px solid #edd700;
}

.ship-description-container span {
  font-size: 0.91rem;
  display: block;
  color: #999;
}

span.people-ships-span {
  color: #9e4f60;
  cursor: text;
}

span.people-films-span {
  color: #9e4f60;
  cursor: text;
}

/* .movies-span:hover {
  color: rgb(183, 104, 121);
} */

.ship-description-container a {
  text-decoration: none;
}

.ship-description-container h4 {
  font-size: 1.15rem;
}

.appearances-row {
  margin-left: 1px;
  margin-bottom: 0;
}

@media (min-width: 972px) {
  .container {
    max-width: 75%;
  }
}

@media (min-width: 1450px) {
  .container {
    max-width: 50%;
  }
}
