.grid-items {
  max-width: calc(min(92vw, 1200px));
  margin-inline: auto;
  margin-block: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-auto-rows: minmax(275px, 30vh);
  gap: 1.8rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 8px 1px rgba(var(--box-shadow-pink), 0.45);
}

.grid-item__hero {
  height: 60%;
  overflow: hidden;

  .grid-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.25s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &[src*="vignette"] {
      object-position: (50% 30%);
    }
  }
}

.grid-item__info {
  height: 40%;
  padding: 1rem;
  background-color: var(--bg-dark-gray);
  border-top: 2px solid var(--primary-pink);
  background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/bg_hash_top-dca2c5ab1b2e.png);
  background-size: 7px;
  background-repeat: repeat-x;

  h4 {
    font-size: 1.25rem;
    color: var(--primary-white);
    transition: color 275ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      cursor: pointer;
      color: var(--primary-pink);
    }
  }

  p {
    font-size: 0.9rem;
    color: var(--gray-blue);
  }


}

@media (max-width: 576px) {
  .grid-items {
    gap: 1rem;
    grid-auto-rows: 16vh;
  }

  .grid-item {
    flex-direction: row;
  }

  .grid-item__hero {
    min-height: 100%;
    width: 35%;
  }

  .grid-item__info {
    min-height: 100%;
    border-left: 2px solid var(--primary-pink);
    border-top: none;
    width: 65%;
  }
}