@import "../../../styles/variables.scss";

.login-nav {
  line-height: 2.5rem;
  overflow: hidden;
  white-space: nowrap;
  transition: max-height 250ms ease-in;

  &__link {
    font-size: var(--step--1);
    font-weight: 700;
    color: var(--primary-gray);
    padding: 0.5rem;

    &:hover {
      color: var(--primary-white);
    }

    &--separator {
      font-size: var(--step--1);
      font-weight: 700;
      color: var(--primary-gray);
      padding: 0.5rem;
    }
  }

  &:is(.expanded, .collapsed.hide, .collapsed.show) {
    @media (min-width: 768px) {
      display: flex;
    }
  }

  @media (max-width: 767px) {
    &:is(.expanded, .collapsed.hide) {
      max-height: 0;
    }

    &.collapsed.show {
      max-height: 122px;
    }

    &.collapsed.show.loggedin {
      max-height: 33px;
    }
  }

  @media (min-width: 768px) {
    & {
      margin-inline-start: auto;
      grid-row: 1 / 2;
      grid-column: 3 / 4;
    }
  }
}