@import "../../../styles/variables.scss";

.login-nav {
  line-height: 2.5rem;
  overflow: hidden;
  white-space: nowrap;
  // transition: max-height, padding padding 250ms ease-in;
  transition-property: max-height, padding;
  transition-duration: 250ms;
  transition-timing-function: ease-in;
  // padding: 0.5rem;

  &__link {
    font-size: var(--step--1);
    font-weight: 700;
    color: var(--primary-gray);
    padding: 0.5rem;

    &:hover {
      color: var(--primary-white);
    }

    &--separator {
      font-size: var(--step--2);
      font-weight: 700;
      color: var(--primary-gray);
      // padding: 0.5rem;
      line-height: initial;
    }
  }

  &:is(.expanded, .collapsed.hide, .collapsed.show) {
    @media (min-width: 768px) {
      display: flex;
    }
  }

  @media (max-width: 767px) {
    &:is(.expanded, .collapsed.hide) {
      max-height: 0;
    }

    &.collapsed.show {
      max-height: 116px;
      padding-block-start: 0.75rem;
      // margin-block-end: -16px;
    }

    &.collapsed.show.loggedin {
      max-height: 33px;
    }
  }

  @media (min-width: 768px) {
    & {
      margin-inline-start: auto;
      grid-row: 1 / 2;
      grid-column: 3 / 4;
    }
  }
}