.detail-page {
  display: flex;
  margin-inline: auto;
  border-radius: 15px;
  overflow: hidden;
  flex-direction: column;
  margin-block: 1rem;
  box-shadow: 0px 0px 9px 2px rgba(231, 203, 209, 0.45);

  .detail-page__img {
    display: grid;
    width: 50%;

    &:has(img[src*="Planets"]) {
      place-content: center;
    }
  }

  .detail-page__info {
    background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/bg_hash_top-dca2c5ab1b2e.png);
    background-size: 8px;
    background-repeat: repeat-x;
    background-color: #282727;
    color: #ddd;
    border-left: 3px solid #9e4f60;
    width: 50%;
    flex-grow: 1;

    h1 {
      font-size: 1.25rem
    }

    h3 {
      font-size: 0.9rem;
    }

    span {
      font-size: 0.75rem;
      display: block;
      color: #999;
    }
  }


  img {
    width: 100%;
    max-height: calc(min(29vh, 600px));
    min-height: 100%;
    object-fit: cover;
  }

  img[src*="vignette"] {
    object-position: 50% 30%;

    @media (max-width: 576px) {
      object-position: (50% 10%);
    }
  }

  img[src*="Films"] {
    @media (max-width: 575px) {
      object-position: 50% 30%;
    }
  }

  img[src*="Planets"] {
    clip-path: circle(45%);
    max-height: calc(min(24.5vh, 400px));
    object-fit: contain;
  }

  @media (max-width: 575px) {
    max-width: calc(min(94vw, 540px));
  }

  @media (min-width: 576px) and (max-width: 768px) {
    &:has(img[src*="vignette"], img[src*="Films"]) {
      flex-direction: row;

      .detail-page__info {
        border-left: 3px solid #9e4f60;
        border-top: none;
      }
    }
  }

  @media (min-width: 576px) {
    max-width: calc(min(90vw, 758px));
    min-height: calc(min(65vh, 500px));
  }

  @media (max-width: 768px) {
    .detail-page__info {
      border-top: 3px solid #9e4f60;
      border-left: none;
      width: 100%;
    }

    .detail-page__img {
      width: 100%;
    }

    img {
      max-height: calc(min(29vh, 600px));
      object-fit: cover;
    }

    img[src*="Planets"] {
      object-fit: contain;
      clip-path: circle(29vw);
      margin-bottom: 1rem;
    }

    img[src*="Starships"] {
      height: calc(min(23vh, 600px));
    }

    img[src*="Yavin4"] {
      max-height: 35vh;
      clip-path: circle(120px);
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;

    h1 {
      font-size: 1.75rem;
      padding-inline-start: 0;
    }

    img[src*="Planets"] {
      max-height: calc(max(29vh, 400px));
    }
  }

  @media (min-width: 992px) {
    img[src*="Films"] {
      object-position: top;
    }
  }
}



@media (min-width: 700px) {
  .detail-page {
    flex-direction: row;

    &:has(img[src*="Starships"], img[src*="Planets"]) {
      .detail-page__info {
        border-left: 3px solid #9e4f60;
        border-top: none;
      }
    }
  }
}