.register-form {
  width: 100vw;
  text-align: center;
  background-color: var(--bg-dark-gray);
  letter-spacing: 0.06em;
  font-size: var(--step--1);
  color: var(--primary-yellow);

  @media (min-width: 576px) {
    width: calc(min(540px, 85vw));
    border-radius: 15px;
    overflow: hidden;
  }

  &__inner-wrapper {
    min-height: 100vh;
    padding: 1rem;

    @media (min-width: 576px) {
      min-height: initial;
    }

    label {
      display: none;
      /* Show the label text only to screen readers */
      &[for="username"]::after {
        content: "Username:";
        clip: rect(0, 0, 0, 0);
        position: absolute;
      }
    }

    .error-message {
      font-size: var(--step--2);
      padding: 3px;
      color: red;
      display: none;
    }

    button[type="submit"] {
      display: block;
      width: 90%;
      margin: 1.3rem auto;
      border: none;
      border-radius: 5px;
      font-weight: 500;
      font-size: var(--step--1);
      background-color: var(--secondary-gray);
      color: var(--primary-white);
      transition: background-color 175ms;

      &:hover {
        cursor: pointer;
        background-color: var(--primary-blue);
      }

      &:disabled {
        opacity: 0.6;

        &:hover {
          cursor: not-allowed;
        }
      }
    }
  }
  &__img {
    margin-block: 1.5rem 0.75rem;
    @media (min-width: 576px) {
      margin-block: 0.75rem;
    }
  }

  &__title {
    margin-block: 0.75rem 1rem;
    font-size: var(--step-1);
  }

  &__input-field {
    margin-block: 1rem;
    width: 90%;
    padding: 0.7rem;
    border-radius: 5px;
    border: none;
    outline: none;

    &:invalid[focused="true"] + .error-message {
      display: block;
    }

    &:focus {
      outline: 2px solid var(--primary-yellow);
      background-color: var(--secondary-gray);
      color: var(--primary-yellow);

      &:invalid[focused="true"] {
        outline: 2px solid red;
      }
    }
  }

  &__signup-link {
    width: 90%;
    margin: 1rem auto;
    padding: 0.5rem;
    border: 0;
    border-radius: 5px;
    transition: outline 225ms ease-in-out;

    &:hover {
      outline: solid 1px var(--primary-yellow);
    }
  }

  &__signin-link {
    margin: 1rem;
    font-size: var(--step--2);
    &:hover {
      text-decoration: underline;
    }

    p {
      display: inline-block;
      color: var(--gray-blue);
    }

    span {
      margin-inline: 1rem;
    }
  }
}
