.modal {
  min-height: 100vh;
  position: fixed;
  inset: 0;
  background-color: var(--bg-form-overlay);
  backdrop-filter: blur(2px);
  display: grid;
  place-content: center;

  &-content {
    position: relative;
  }

  &__close-btn {
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
    border: 0;
    background-color: transparent;
    font-size: var(--step-1);
    color: var(--primary-white);
    z-index: 10;
    padding: 0.5rem;

    &:hover {
      color: var(--primary-blue);
      cursor: pointer;
    }
  }
}
