.header {
	position: relative;
	@media (min-width: 768px) {
		min-height: 158.06px;
	}
}

.navbar-container {
	display: grid;
	width: calc(min(90vw, 1200px));
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
	margin: 0 auto;
}

/* Media queries */
@media (max-width: 576px) {
	.navbar-container {
		width: calc(min(94vw, 1200px));
	}
	.nav {
		flex-wrap: nowrap;
	}

	.logo-img {
		width: 180px;
	}
}

@media (max-width: 768px) {
	.logo-img {
		width: 200px;
	}
}
.logo-img {
	width: 220px;
}

@media (min-width: 768px) {
	.navbar-brand {
		grid-column: 2 /3;
	}
}

