header.header {
  position: relative;
}

/* .bg-col-logo {
  background-color: black;
  
} */

.navbar-link {
  margin: 0;
  padding: 0;
}

.navbar-link:link {
  text-decoration: none;
}

.logIn-div {
  color: #999;
  font-weight: 600;
  font-size: 15px;
}

.nav-link {
  color: #999;
  font-weight: 600;
  font-size: 1rem;
}
@media (max-width: 600px) {
  .nav-link,
  .login-nav-link {
    font-size: 0.8rem;
  }
}

.nav-link:hover {
  color: white;
  cursor: pointer;
}

.nav-link:focus {
  border-bottom: 2px solid #0d6efd !important;
  color: white;
}

.login-nav-link {
  color: #999 !important;
  white-space: nowrap;
}
.login-nav-link:hover {
  color: #ccc !important;
}

.login-nav-link-bars {
  color: #999 !important;
}
.button-toggler {
  background-color: #dee2e6;
}

.logIn-col {
  color: #343434;
  right: 0%;
}

/* @media (min-width: 768px) { */
.navbar-box {
  min-height: 110px;
  margin-block-start: auto !important;
}
.navbar-brand-box {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
/* } */
