.header {
 position: relative;
}
.navbar-collapse-box {
  padding-block: 3px;
}

@media (max-width: 500px) {
  .logo-img {
    width: 180px;
  }
}

@media (max-width: 500px) {
  .navbar-toggle-btn {
    padding: 0.1rem 0.4rem;
  }
}

.navbar-link {
  margin: 0;
  padding: 0;
}

.navbar-link:link {
  text-decoration: none;
}

.logIn-div {
  color: #999;
  font-weight: 600;
  font-size: 15px;
}

.nav-link {
  color: #999;
  font-weight: 600;
  font-size: 1rem;
}
@media (max-width: 576px) {
  .nav-link,
  .login-nav-link {
    font-size: 0.8rem;
  }
}

.nav-link:hover {
  color: white;
  cursor: pointer;
}

.nav-link:focus {
  border-bottom: 2px solid #0d6efd !important;
  color: white;
}

.login-nav-link {
  color: #999 !important;
  white-space: nowrap;
}
.login-nav-link:hover {
  color: #ccc !important;
}

.login-nav-link-bars {
  color: #999 !important;
}
.button-toggler {
  background-color: #dee2e6;
}

.logIn-col {
  color: #343434;
  right: 0%;
}

/* @media (min-width: 768px) { */
.navbar-box {
  min-height: 110px;
  margin-block-start: auto !important;
}
.navbar-brand-box {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
/* } */

.navbar-container-box {
  width: min(90vw, 1100px) !important;
  display: grid !important;
  grid-template-columns: 1fr 2fr 1fr;
}


@media (min-width: 768px) {
  .navbar-collapse-box {
    margin-inline-start: auto;
  }
}

@media (min-width: 768px) {
  .navbar-collapse-box {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }
}
.border-wrapper {
  margin-inline: auto;
  width: min(90vw, 1100px);
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.border-right {
  border-right: 2px solid var(--bs-link-color);
}
.border-left {
  border-left: 2px solid var(--bs-link-color);
}
