.img-container {
  border-bottom: 3px solid #9e4f60;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 70%;
  }
}

.ship-title:hover {
  color: rgba(255, 255, 255, 0.712);
  cursor: pointer;
}

.card-description-container {
  background-color: #282727cc;
  border-radius: 0 0 9px 9px;
  color: #ddd;
  height: 100%;
  border-left: 2px solid #edd700;
}
.card-description-container h2 {
  overflow-wrap: break-word;
}
.movies-span {
  color: #9e4f60;
}

.films-span {
  color: #9e4f60 !important;
}
.films-span:hover {
  color: rgb(183, 104, 121) !important;
}

.movies-span:hover {
  color: rgb(183, 104, 121);
}

.movies-span {
  color: #9e4f60;
}
.pilots-span {
  color: #9e4f60 !important;
}

.pilots-span:hover {
  color: rgb(183, 104, 121) !important;
}

.movies-span:hover {
  color: rgb(183, 104, 121);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 2/1;
}

.page-description-container {
  background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/bg_hash_top-dca2c5ab1b2e.png);
  background-size: 7px;
  background-repeat: repeat-x;
  background-color: #282727;
  border-radius: 0 0 9px 9px;
  color: #ddd;
}

.page-description-container a {
  text-decoration: none;
}

.page-description-container h1 {
  font-size: 1.15rem;
}
.page-description-container h3 {
  font-size: 0.9rem;
}
.page-description-container span {
  font-size: 0.75rem;
  display: block;
  color: #999;
}
