.page-wrapper {
  width: min(90vw, 1100px);
  display: flex;
  margin-inline: auto;
}

.page-description-container {
  background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/bg_hash_top-dca2c5ab1b2e.png);
  background-size: 8px;
  background-repeat: repeat-x;
  background-color: #282727;
  color: #ddd;
  border-left: 3px solid #9e4f60;
}
.page-description-container h1 {
  font-size: 1.15rem;
}
.page-description-container h3 {
  font-size: 0.9rem;
}
.page-description-container span {
  font-size: 0.75rem;
  display: block;
  color: #999;
}

.page-img-container {
  width: 50%;
  flex: auto;
}

@media (max-width: 768px) {
  .page-img-container {
    width: 100%;
    flex: auto;
  }
  .page-description-container {
    border-top: 3px solid #9e4f60;
    border-left: none;
  }
  .page-wrapper {
    flex-direction: column;
  }
}

.page-img-container img {
  height: 68vh;
  width: 100%;
  /* height: 100%; */
  /* aspect-ratio: 4/3; */
  object-fit: cover;
}

.inner-card-img-wrapper img {
  width: 100%;
  height: 100%;
}

.inner-card-description-container {
  background-color: #282727cc;
  color: #ddd;
  height: 100%;
  border-left: 2px solid #edd700;
}
.inner-card-description-container h2 {
  overflow-wrap: break-word;
}
.list-element {
  color: #9e4f60 !important;
  padding-block: 0.1rem;
}
.list-element:hover {
  color: rgb(183, 104, 121) !important;
  cursor: pointer;
}
