.spaceship-img-container {
  border-bottom: 3px solid #9e4f60;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ship-title:hover {
  color: rgba(255, 255, 255, 0.712);
  cursor: pointer;
}

.ship-description-container {
  background-color: #282727cc;
  border-radius: 0 0 9px 9px;
  color: #ddd;
}

.card-description-container {
  background-color: #282727cc;
  border-radius: 0 0 9px 9px;
  color: #ddd;
  height: 100%;
  border-left: 2px solid #edd700;
}
.card-description-container h2 {
  overflow-wrap: break-word;
}
.movies-span {
  color: #9e4f60;
}

.films-span {
  color: #9e4f60 !important;
}
.films-span:hover {
  color: rgb(183, 104, 121) !important;
}

.movies-span:hover {
  color: rgb(183, 104, 121);
}

.ship-description-container span {
  font-size: 0.91rem;
  display: block;
  color: #999;
}

.movies-span {
  color: #9e4f60;
}
.pilots-span {
  color: #9e4f60 !important;
}

.pilots-span:hover {
  color: rgb(183, 104, 121) !important;
}

.movies-span:hover {
  color: rgb(183, 104, 121);
}

.ship-description-container a {
  text-decoration: none;
}

.ship-description-container h4 {
  font-size: 1.15rem;
}
.img-wrapper img {
  object-fit: cover;
}
