.grid-items {
  max-width: calc(min(94vw, 1200px));
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.8rem;
  padding: 0.5rem;
  // min-height: 100vh;
}

.grid-item {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  max-height: calc(min(375px, 45vh));
  box-shadow: 0px 0px 8px 1px rgba(231, 203, 209, 0.45);
}

.grid-item__hero {
  height: 60%;
  overflow: hidden;

  .grid-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.25s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    &[src*="vignette"] {
      object-position: (50% 30%);

    }

  }
}

.grid-item__info {
  height: 40%;
  border-top: 2px solid #9e4f60;
  background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/bg_hash_top-dca2c5ab1b2e.png);
  background-size: 7px;
  background-repeat: repeat-x;

  h4 {
    font-size: 1.25rem;
    color: #ddd;
    transition: color 275ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      cursor: pointer;
      color: #9e4f60;
    }
  }

  p {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .grid-items {
    gap: 1rem;
  }

  .grid-item {
    height: 20vh;
    flex-direction: row;
  }

  .grid-item__hero {
    min-height: 100%;
    width: 35%;
  }

  .grid-item__info {
    min-height: 100%;
    border-left: 2px solid #9e4f60;
    border-top: none;
    width: 65%;
  }
}