.list-of-items-wrapper {
  --max-lines: 6;
  --line-height: 1.5;
  max-height: calc(var(--max-lines) * 1.9rem * var(--line-height));
  line-height: var(--line-height);
  overflow: hidden;
  position: relative;

  // blurred effect on last line
  &:has(+ .view-more-btn) {
    &::before {
      --line-height: 1.5;
      content: "";
      position: absolute;
      height: calc(1.9rem * var(--line-height));
      width: 100%;
      bottom: 0;
      pointer-events: none;
      background: linear-gradient(to bottom, transparent, rgb(33, 37, 41));
    }
  }
}

// input (button)
.view-more-btn {
  appearance: none;
  border: 1.5px solid rgb(111, 115, 128);
  border-radius: 5px;
  padding: 0.8rem 0.4rem;
  cursor: pointer;
  margin-top: 0.5rem;
  width: 100px;
  position: relative;
  font-size: 0.75rem;

  &:hover {
    background-color: #424649;

    &::before {
      color: white;
    }
  }
}

.view-more-btn::before {
  color: rgb(111, 115, 128);
  content: "View more";
  position: absolute;
  top: 13%;
  right: 13%;
}

// change text of input (btn) when checked
.view-more-btn:checked::before {
  content: "Collapse";
  left: 20%;
}

// expand list when input is checked (button clicked)
.list-of-items-wrapper:has(+ .view-more-btn:checked) {
  max-height: none;

  &::before {
    height: 0;
  }
}

@media (max-width: 576px) {
  .list-of-items-wrapper {
    --max-lines: 3;
  }

  .detail-page:has(img[src*="Films"]) {
    .list-of-items-wrapper {
      --max-lines: 4;
    }
  }

  .detail-page:has(img[src*="vignette"]) {
    .list-of-items-wrapper {
      --max-lines: 3;
    }
  }
}

@media (min-width: 576px) {
  .detail-page:has(img[src*="Planets"]) {
    .list-of-items-wrapper {
      --max-lines: 3;
    }
  }

  .detail-page:has(img[src*="Films"]) {
    .list-of-items-wrapper {
      --max-lines: 9;
    }
  }

  .detail-page:has(img[src*="vignette"]) {
    .list-of-items-wrapper {
      --max-lines: 7;
    }
  }
}

@media (min-width: 576px) and (max-width: 700px) {
  .detail-page:has(img[src*="Films"], img[src*="vignette"]) {
    .list-of-items-wrapper::before {
      height: 0;
    }

    .view-more-btn {
      display: none;
    }
  }
}

@media (min-width: 700px) {
  .detail-page:has(img[src*="Planets"], img[src*="Films"]) {
    .list-of-items-wrapper {
      --max-lines: 10;
    }
  }
}
