.main {
  width: min(90vw, 1100px);
  display: flex;
  margin-inline: auto;
  border-radius: 15px;
  overflow: hidden;
}

.page-description-container {
  background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/bg_hash_top-dca2c5ab1b2e.png);
  background-size: 8px;
  background-repeat: repeat-x;
  background-color: #282727;
  color: #ddd;
  border-left: 3px solid #9e4f60;
  width: 50%;

  h2 {
    font-size: 1.15rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  span {
    font-size: 0.75rem;
    display: block;
    color: #999;
  }
}

.page-img-container {
  width: 50%;
  flex: auto;
  img {
    height: 72vh;
    width: 100%;
    object-fit: cover;
  }
} 

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  .page-img-container {
    width: 100%;
    flex: auto;
    img {
      height: 40vh;
    }
  }
  .page-description-container {
    border-top: 3px solid #9e4f60;
    border-left: none;
    width: 100%;
  }
}

.list-element {
  color: #9e4f60 !important;
  padding-block: 0.1rem;
}
.list-element:hover {
  color: rgb(183, 104, 121) !important;
  cursor: pointer;
}
// .inner-card-description-container {
//   background-color: #282727cc;
//   color: #ddd;
//   height: 100%;
//   border-left: 2px solid #edd700;
// }
// .inner-card-description-container h2 {
//   overflow-wrap: break-word;
// }