.search-form {
  padding-block-start: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: var(--bg-dark-gray);
  letter-spacing: 0.06em;
  font-size: var(--step--1);
  color: var(--primary-yellow);


  &__title {
    margin: 0 auto 1rem 1.5rem;
    font-size: var(--step-1);
    font-weight: 500;
    line-height: 1.5;
  }

  
  &__fieldset-wrapper{
    width: 90%;
    display: flex;
    fieldset {
      min-width: 0;
      // padding: 0;
      margin: 0;
      border: 0;
      padding: 0.7rem;
      padding-inline-start: 1.5rem;
      padding-block-end: 0.5rem;
      border-radius: 5px;
      border: none;
      outline: none;
      margin-block: 1rem;
      margin: 0;
    }
  }
  &__radio-input-wrapper {
    display: inline-block;
    margin-inline-end: 0.375rem;
  }
  &__check-input {
    display: inline-block;
  }
  &__label {
    display: inline-block;
    font-size: var(--step--1);
    margin-inline-end: 0.75rem;
  }

  &__input-field{
    width: 90%;
    padding: 0.7rem;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-block: 1rem;
    margin-block-start: 0.25rem;
    &:focus {
      outline: 2px solid var(--primary-yellow);
      background-color: var(--secondary-gray);
      color: var(--primary-yellow);
    }
  }
}
.modal-section-wrapper {
  width: 100%;
  border-top: 1px solid var(--primary-white);
  padding-block: 0.5rem;
}

button[type='submit'] {
  width: 90%;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  outline: none;

  &:focus {
    outline: 2px solid var(--primary-yellow);
    background-color: var(--secondary-gray);
    color: var(--primary-yellow);
  }
  display: block;
  width: 90%;
  margin: 1.3rem auto;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: var(--step--1);
  background-color: var(--secondary-gray);
  color: var(--primary-white);
  transition: background-color 175ms;

  &:hover {
    cursor: pointer;
    background-color: var(--primary-blue);
  }
}