//////// SingleItem page styles  /////////////////
.main {
	display: flex;
	margin-inline: auto;
	border-radius: 15px;
	overflow: hidden;
	flex-direction: column;
	margin-block-start: 1.5rem;

	.page-description-container {
		background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/bg_hash_top-dca2c5ab1b2e.png);
		background-size: 8px;
		background-repeat: repeat-x;
		background-color: #282727;
		color: #ddd;
		border-left: 3px solid #9e4f60;
		width: 50%;
		flex-grow: 1;

		h1 {
			font-size: 1.50rem
		}

		h3 {
			font-size: 1rem;
		}

		span {
			font-size: 0.85rem;
			display: block;
			color: #999;
		}
	}

	.page-img-container {
		display: grid;
		width: 50%;

		&:has(img[src*="Planets"]) {
			place-content: center;
		}
	}

	img {
		width: 100%;
		max-height: calc(min(29vh, 600px));
		min-height: 100%;
		object-fit: cover;
	}

	img[src*="vignette"] {
		object-position: 50% 30%;
	}

	img[src*="Films"] {
		object-position: bottom;
	}

	img[src*="Planets"] {
		clip-path: circle(45%);
		max-height: calc(min(29vh, 400px));
		object-fit: contain;
	}

	@media (max-width: 575px) {
		max-width: calc(min(94vw, 540px));
		min-height: 72vh;
	}

	@media (min-width: 576px) and (max-width: 768px) {
		&:has(img[src*="vignette"], img[src*="Films"]) {
			flex-direction: row;

			.page-description-container {
				border-left: 3px solid #9e4f60;
				border-top: none;
			}
		}
	}

	@media (min-width: 576px) {
		// margin-block-start: 2rem;
		max-width: calc(min(90vw, 758px));
		min-height: calc(min(65vh, 600px));
		max-height: max-content;
	}

	@media (max-width: 768px) {
		.page-description-container {
			border-top: 3px solid #9e4f60;
			border-left: none;
			width: 100%;
		}

		.page-img-container {
			width: 100%;
		}

		img {
			max-height: calc(min(29vh, 600px));
			object-fit: cover;
		}

		img[src*="Planets"] {
			object-fit: contain;
			clip-path: circle(29vw);
			margin-bottom: 1rem;
		}

		img[src*="Yavin4"] {
			max-height: 35vh;
			clip-path: circle(120px);
		}
	}

	@media (min-width: 768px) {
		flex-direction: row;

		h1 {
			font-size: 1.75rem;
			padding-inline-start: 0;
		}

		img[src*="Planets"] {
			max-height: calc(max(29vh, 400px));
		}
	}

	@media (min-width: 992px) {
		img[src*="Films"] {
			object-position: center;
		}
	}
}

// Styles for tablets
@media (min-width: 700px) and (orientation: portrait) {
	.main {
		flex-direction: row;

		&:has(img[src*="Starships"], img[src*="Planets"]) {
			.page-description-container {
				border-left: 3px solid #9e4f60;
				border-top: none;
			}
		}
	}
}

.cutoff-text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 8;
	overflow: hidden;
	
	position: relative;
}

.cutoff-text::before {
	content: "";
	position: absolute;
	height: calc(14.4px * 1.5);
	width: 100%;
	bottom: 0;
	pointer-events: none;
	background: linear-gradient(to bottom, transparent, rgb(33,37,41));
}
.expand-btn {
	appearance: none;
	border: 1.5px solid white;
	border-radius: 5px;
	padding: 1rem 0.5rem;
	cursor: pointer;
	margin-top: 1.5rem;
	max-width: 112.38px;
	margin-left: 12px;
	background-color: #424649;
	position: relative;
	font-size: 0.9rem;
}

.expand-btn:hover {
	background-color: transparent;
}
.expand-btn::before {
	color: white;
	content: "View more";
	white-space: pre;
	position: absolute;
	top: 15.5%;
	right: 10.98%;
}

.expand-btn:checked::before { 
	color: white;
	content: "Collapse";
	white-space: pre;
	position: absolute;
	top: 15.5%;
	left: 19.07%;
}

.cutoff-text:has(+ .expand-btn:checked) {
	-webkit-line-clamp: 14;
	&::before {
		height: 0;
	}
	& ~ .expand-btn{
		margin-top: 0.75rem;
	}
}