.search-icon-btn {
  margin-inline-start: auto;
  background-color: transparent;
  border: 1px solid var(--gray-blue);
  height: 35px;
  width: 45px;
  border-radius: 0.375rem;
  img {
    margin-inline-start: 2.5px;
  }

  @media (min-width: 768px) {
    & {
      margin-inline-start: initial;
      grid-row: 1 / 2;
    }
  }
}
