.search-icon-btn {
  margin-inline-start: auto;
  background-color: transparent;
  border: 1px solid var(--gray-blue);
  height: 35px;
  width: 45px;
  border-radius: 0.375rem;
  // &:hover {
  //   background-color: lighten(white, 90%);
  //   // opacity: 50%;
  // }

  @media (min-width: 768px) {
    & {
      margin-inline-start: initial;
      grid-row: 1 / 2;
    }
  }
}
