.search-icon-btn {
  margin-inline-start: auto;
  background-color: transparent;
  border: 1px solid var(--gray-blue);
  height: 35px;
  width: 45px;
  border-radius: 0.375rem;
  transition: border-color 125ms ease-in-out, fill 125ms ease-in-out;

  .search-icon-svg {
    height: 100%;
    margin: auto;
  }

  &:hover {
    cursor: pointer;
    border-color: var(--primary-white);

    .search-icon-svg {
      fill: var(--primary-white);
    }
  }

  @media (min-width: 768px) {
    & {
      margin-inline-start: initial;
      grid-row: 1 / 2;
    }
  }
}