.back-to-top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  box-shadow: var(--primary-card-shadow);
}

.back-to-top-btn:hover {
  cursor: pointer;
  background-color: #333;
}
.back-to-top-btn:active {
  background-color: #555;
}
.back-to-top-btn.show {
  opacity: 1;
  visibility: visible;
}

.back-to-top-btn__img {
  width: 52px;
}
