*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://res.cloudinary.com/dn9mr6kwc/image/upload/v1666519655/Starwars%20miniproject/star-wars-background-img_cpqurg.jpg');
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1.35px;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.app {
  min-height: 100%;
}

.main-wrapper {
  margin-inline: auto;
  width: min(90vw, 1100px);
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}
