////////////////// Styles for tablets ////////////////////

@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
	.grid-element-card {
		min-height: 30vh;
	}

	.grid-card-info {
		h4 {
			font-size: 1.5rem;
		}
	}

	.main {
		.page-description-container {
			h1 {
				font-size: 1.50rem
			}

			h3 {
				font-size: 1.25rem;
			}

			span {
				font-size: 1rem;
				display: block;
				color: #999;
			}
		}
	}

	.list-element,
	span {
		font-size: 1rem;
	}
}

@media (min-width: 700px)

/*and (orientation: portrait)*/
	{
	.main {
		flex-direction: row;

		&:has(img[src*="Starships"], img[src*="Planets"]) {
			.page-description-container {
				border-left: 3px solid #9e4f60;
				border-top: none;
			}
		}
	}
}

////////////////// end of Styles for tablets ////////////////////